/* paleta de cores */

:root {
  --accent1: #160265;
  --accent2: #04bdb7;

  --support1: #abfaab;
  --support2: #77f7ca;
  --support3: #9e0be8;

  --whiteish: #f2f0eb;
  --blackish: #212121;
}

/* estilos genericos */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
 
}

/* container */

#calculator {
  width: 332px;
  padding: 10px;
  margin: auto;
  background-color: var(--whiteish);
  font-size: 1.2rem;
  border: solid 1px var(--support2);
  border-radius: 10px;
  box-shadow: 0 1px 7px 0 var(--blackish);
  z-index: 1;
}

/* screen */

#display {
  display: grid;
  border: solid 1px var(--support2);
  border-radius: 5px;
  height: 70px;
  color: var(--blackish);
}

#display input {
  display: block;
  text-align: right;
  padding: 8px 7px;
  background: none;
  border: none;
  font-size: 0.9rem;
  color: var(--blackish);
}

#display output {
  display: block;
  text-align: right;
  padding: 0 5px;
  background: none;
  font-weight: bold;
  font-size: 2rem;
}

#keypad {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding-top: 10px;
}

#keypad button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  background-color: var(--support1);
}

#keypad button:hover {
  background-image: linear-gradient(120deg, var(--support2), var(--support1));
}

#keypad button.operator {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--accent1);
  color: var(--whiteish);
}

#keypad button.operator:hover {
  background-image: linear-gradient(120deg, var(--support3), var(--accent1));

}

.animation-area {
  width: 100%;
  background-image: linear-gradient(200deg, var(--accent2), var(--accent1));
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  z-index: -1;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}